.header {
    margin: auto;
    padding: 45px 0 40px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        padding: 28px 27px 29px;
    }
}